.legend .row:nth-of-type(odd) div {
  background-color: #eeeeee;
}

.clickable:hover {
  box-shadow:
    0 0 1px 1px rgba(0, 0, 0, 0.19),
    0 0 3px 3px rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

.todo-list-name-row {
  font-size: 0.9em;
}

.float-right {
  padding-left: 5px;
  padding-right: 5px;
  float: right;
}

.badge {
  background-color: rgba(34, 136, 153, 0.36);
  color: white;
  padding: 3px 6px;
  text-align: center;
  border-radius: 5px;
}

.form-control {
  font-size: 16px;
  padding-left: 15px;
  outline: none;
  border: 1px solid #e8e8e8;
}
