<p class="paragraph" [style.background-color]="backgroundColor()" [style.color]="textColor()">
  {{ headerTitle }}
</p>
<h3 class="title">Mouse Events</h3>

<div
  class="box"
  role="button"
  tabindex="0"
  (mouseenter)="onEvent($event)"
  (mouseleave)="onEvent($event)"
  (mousemove)="coordinates($event)"
  (click)="onEvent($event)"
  (dblclick)="onEvent($event)"
  (contextmenu)="onEvent($event)"
  (keydown)="onEvent($event)">
  <p class="type">Type: {{ event?.type }}</p>
  <p>x: {{ clientX }}, y: {{ clientY }}</p>
  <p>
    <small>ctrl: {{ event?.ctrlKey }}, shift: {{ event?.shiftKey }}, meta: {{ event?.metaKey }}</small>
  </p>
</div>

<div>
  <button class="btn btn-primary btn-sm" (click)="sendEvent()">Send Title</button>
</div>
