<div class="container px-0 app">
  <nav class="fixed-top navbar navbar-light navbar-expand-md bg-faded px-2">
    <div [routerLink]="['/home']" class="navbar-brand">
      <img alt="todo-logo" src="/todo.svg" width="50px" /> Todo App
    </div>
    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav">
        <li [routerLinkActive]="['active']" class="nav-item">
          <a class="nav-link" [routerLink]="['/home']">Start Page</a>
        </li>
        <li [routerLinkActive]="['active']" class="nav-item">
          <a class="nav-link" [routerLink]="['/myfirst']">MyFirst</a>
        </li>
        <li [routerLinkActive]="['active']" class="nav-item">
          <a class="nav-link" [routerLink]="['/temp']">Temp C</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/mbachmann/spring-boot-todo-app" target="_blank"
            >Github Backend</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/mbachmann/todo-angular-21" target="_blank">Github Angular 21</a>
        </li>
      </ul>
      <form class="form-inline ms-auto">
        <button class="btn btn-secondary" type="button" [routerLink]="['/signup']">Signup</button>
        <button class="btn btn-primary ms-1" type="button" [routerLink]="['/login']">Login</button>
      </form>
    </div>
  </nav>

  <main class="px-3 mt-4 main">
    <router-outlet></router-outlet>
  </main>

  <footer class="fixed-bottom px-3 mt-4 bg-light">
    <section class="container d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Get connected with us on social networks:</span>
      </div>
      <!-- Left -->

      <!-- Right -->
      <div>
        <a
          href="https://www.youtube.com/channel/UCGLcphLMTcUNZRIRGUVu8rg"
          target="_blank"
          class="me-4 text-reset"
          tabindex="-1">
          <i class="fa-brands fa-youtube"></i>
        </a>

        <a href="https://x.com/mbachmann4" target="_blank" class="me-4 text-reset" tabindex="-1">
          <i class="fa-brands fa-x-twitter"></i>
        </a>
        <a
          href="https://www.linkedin.com/in/matthias-bachmann-b3809541/"
          target="_blank"
          class="me-4 text-reset"
          tabindex="-1">
          <i class="fa-brands fa-linkedin"></i>
        </a>
        <a href="https://github.com/mbachmann" target="_blank" class="me-4 text-reset" tabindex="-1">
          <i class="fa-brands fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  </footer>
</div>
